@import "tailwindcss";

@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/aeonik-pro/Aeonik-Pro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik Pro';
  src: url('/fonts/aeonik-pro/Aeonik-Pro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@theme {
  --font-sans: 'Aeonik Pro';

  --color-darkgray: #1f1e1e;
  --color-orange: #f06210;
  --color-lightgray: #f4f1ef;
}


* {
  font-family: 'Aeonik Pro', sans-serif;
}

.h1 {
  @apply text-[4rem] font-medium leading-[72px] text-darkgray;
}

.h2 {
  @apply text-5xl font-medium leading-[56px] text-darkgray;
}

.h3 {
  @apply text-[40px] font-medium leading-[48px];
}

.h4 {
  @apply text-[2rem] font-medium leading-[40px] text-darkgray/40;
}

.h6 {
  @apply text-xl font-medium leading-7 -tracking-wide;
}

.text-big {
  @apply text-2xl font-normal leading-7 -tracking-wide text-darkgray/60;
}

.text-1 {
  @apply text-darkgray/60 font-normal leading-6 text-base;
}

.text-2 {
  @apply text-sm font-normal leading-[20px];
}

.text-1-bold {
  @apply text-base font-medium leading-6 text-white;
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.10);
}
