@import "tailwindcss";

@layer components {
  .h1 {
    @apply text-[40px] font-medium leading-[48px]
    md:text-[4rem] md:font-medium md:leading-[72px] md:text-darkgray;
  }

  .h2 {
    @apply text-5xl font-medium leading-[56px] text-darkgray;
  }

  .h3 {
    @apply text-[40px] font-medium leading-[48px];
  }

  .h4 {
    @apply text-[2rem] font-medium leading-[40px] text-darkgray/40;
  }

  .h6 {
    @apply text-xl font-medium leading-7 -tracking-wide;
  }

  .text-big {
    @apply text-darkgray/60 font-normal leading-6 text-base
    md:text-xl md:font-normal md:leading-7 md:-tracking-wide md:text-darkgray/60;
  }

  .text-1 {
    @apply text-darkgray/60 font-normal leading-6 text-base;
  }

  .text-2 {
    @apply text-sm font-normal leading-[20px] text-darkgray/60;
  }

  .text-1-bold {
    @apply text-base font-medium leading-6 text-white;
    text-shadow: 0 2px 4px rgba(255, 255, 255, 0.10);
  }

  .stat-item-title {
    @apply text-[80px] font-medium leading-[88px] text-orange;
  }
}